.App {
    font-family: sans-serif;
}

.registerForm {
    display: grid;
    grid-row-gap: 10px;
    align-items: center;
    justify-items: center;
    /* border: 1px solid red; */
    width: 300px;
    height: auto;
    grid-auto-rows: max-content;
    padding: 5px;
}

.input-control {
    display: grid;
    grid-row-gap: 5px;
    grid-auto-rows: max-content;
}

.error {
    color: red;
    font-size: 12px;
}